development/webservices/GenericConfigItemConnectorSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
    name="GenericConfigItemConnectorSOAP"
    targetNamespace="http://www.otrs.org/ConfigItemConnector"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.otrs.org/ConfigItemConnector"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:documentation>
The Generic ConfigItem Connector web service for SOAP protocol
WARNING: This WSDL file is for Development and Test purposes ONLY!
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.otrs.org/ConfigItemConnector">

            <xsd:element name="ConfigItemCreate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice
                            minOccurs="1"
                            maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    UserLogin or SessionID is mandatory
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:element
                                name="UserLogin"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                            <xsd:element
                                name="SessionID"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element
                            name="Password"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ConfigItem"
                            type="tns:OTRS_ConfigItem_ConfigItem"
                            maxOccurs="1"
                            minOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ConfigItemCreateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="ConfigItemID"
                            type="xsd:positiveInteger"
                            maxOccurs="1"
                            minOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="Number"
                            type="xsd:string" minOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="Error"
                            type="tns:OTRS_Error"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="OTRS_Error">
                <xsd:sequence>
                    <xsd:element
                        name="ErrorCode"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ErrorMessage"
                        type="xsd:string" minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ConfigItemDelete">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice
                            minOccurs="1"
                            maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    UserLogin or SessionID is mandatory
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:element
                                name="UserLogin"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                            <xsd:element
                                name="SessionID"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element
                            name="Password"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ConfigItemID"
                            type="xsd:positiveInteger"
                            minOccurs="1"
                            maxOccurs="unbounded">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ConfigItemDeleteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="ConfigItemID"
                            type="xsd:positiveInteger"
                            minOccurs="1"
                            maxOccurs="unbounded">
                        </xsd:element>
                        <xsd:element
                            name="Error"
                            type="tns:OTRS_Error"
                            maxOccurs="1"
                            minOccurs="0">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="OTRS_ConfigItem_ConfigItem">
                <xsd:sequence>
                    <xsd:element
                        name="Number"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Class"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Name"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="DeplState"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="InciState"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="CIXMLData"
                        type="tns:OTRS_XMLData">
                    </xsd:element>
                    <xsd:element
                        name="Attachment"
                        type="tns:OTRS_Attachment"
                        maxOccurs="unbounded"
                        minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_XMLData">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_Attachment">
                <xsd:sequence>
                    <xsd:element
                        name="Content"
                        type="xsd:base64Binary"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Filename"
                        type="xsd:string"
                        maxOccurs="1"
                        minOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ConfigItemGet">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice
                            minOccurs="1"
                            maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    UserLogin or SessionID is mandatory
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:element
                                name="UserLogin"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                            <xsd:element
                                name="SessionID"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element
                            name="Password"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ConfigItemID"
                            type="xsd:positiveInteger"
                            minOccurs="1"
                            maxOccurs="unbounded">
                        </xsd:element>
                        <xsd:element
                            name="Attachments"
                            type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ConfigItemGetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="ConfigItem"
                            type="tns:OTRS_ConfigItemGetResponse_ConfigItem" minOccurs="1" maxOccurs="unbounded">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="OTRS_ConfigItemGetResponse_ConfigItem">
                <xsd:sequence>
                    <xsd:element
                        name="ConfigItemID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Name"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Class"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="VersionID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="LastVersionID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DefinitionID"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="InciState"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="InciStateType"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DeplState"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="DeplStateType"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CreateTime"
                        type="xsd:dateTime"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CreateBy"
                        type="xsd:positiveInteger"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CIXMLData"
                        type="tns:OTRS_XMLData"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Attachment"
                        type="tns:OTRS_Attachment">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ConfigItemUpdate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice
                            minOccurs="1"
                            maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    UserLogin or SessionID is mandatory
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:element
                                name="UserLogin"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                            <xsd:element
                                name="SessionID"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element
                            name="Password"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ConfigItemID"
                            type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="ReplaceExistingData"
                            type="xsd:boolean" minOccurs="0" maxOccurs="1">
                        </xsd:element>
                        <xsd:element
                            name="ConfigItem"
                            type="tns:OTRS_ConfigItem_ConfigItem"
                            maxOccurs="1"
                            minOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ConfigItemSearch">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice
                            minOccurs="1"
                            maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    UserLogin or SessionID is mandatory
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:element
                                name="UserLogin"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                            <xsd:element
                                name="SessionID"
                                type="xsd:string"
                                minOccurs="0">
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element
                            name="Password"
                            type="xsd:string"
                            minOccurs="0">
                        </xsd:element>
                        <xsd:element
                            name="ConfigItem"
                            type="tns:OTRS_ConfigItem_Search_ConfigItem"
                            maxOccurs="1"
                            minOccurs="1">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="OTRS_ConfigItem_Search_ConfigItem">
                <xsd:sequence>
                    <xsd:element
                        name="Class"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Name"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="InciStates"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="DeplStates"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="ConfigItemCreateTimeNewerDate"
                        type="xsd:dateTime"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ConfigItemCreateTimeOlderDate"
                        type="xsd:dateTime"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ConfigItemChangeTimeNewerDate"
                        type="xsd:dateTime"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ConfigItemChangeTimeOlderDate"
                        type="xsd:dateTime"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="CIXMLData"
                        type="tns:OTRS_XMLData"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="PreviousVersionSearch"
                        type="xsd:boolean"
                        minOccurs="0"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="OrderBy"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="OrderByDirection"
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="Limit"
                        type="xsd:positiveInteger" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ConfigItemSearchResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="ConfigItemIDs"
                            type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ConfigItemCreateRequest">
        <wsdl:part
            name="parameters" element="tns:ConfigItemCreate">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemCreateResponse">
        <wsdl:part
            name="parameters" element="tns:ConfigItemCreateResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemDeleteRequest">
        <wsdl:part
            name="parameters" element="tns:ConfigItemDelete">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemDeleteResponse">
        <wsdl:part
            name="parameters" element="tns:ConfigItemDeleteResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemGetRequest">
        <wsdl:part
            name="parameters" element="tns:ConfigItemGet">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemGetResponse">
        <wsdl:part
            name="parameters" element="tns:ConfigItemGetResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemUpdateRequest">
        <wsdl:part
            name="parameters" element="tns:ConfigItemUpdate">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemUpdateResponse">
        <wsdl:part
            name="parameters" element="tns:ConfigItemCreateResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemSearchRequest">
        <wsdl:part
            name="parameters" element="tns:ConfigItemSearch">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ConfigItemSearchResponse">
        <wsdl:part
            name="parameters" element="tns:ConfigItemSearchResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="GenericConfigItemConnector_PortType">
        <wsdl:documentation>
            Warning: This WSDL file is for Development and Test purposes ONLY!
        </wsdl:documentation>

        <wsdl:operation name="ConfigItemCreate">
            <wsdl:input message="tns:ConfigItemCreateRequest"></wsdl:input>
            <wsdl:output message="tns:ConfigItemCreateResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemDelete">
            <wsdl:input message="tns:ConfigItemDeleteRequest"></wsdl:input>
            <wsdl:output message="tns:ConfigItemDeleteResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemGet">
            <wsdl:input message="tns:ConfigItemGetRequest"></wsdl:input>
            <wsdl:output message="tns:ConfigItemGetResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemUpdate">
            <wsdl:input message="tns:ConfigItemUpdateRequest"></wsdl:input>
            <wsdl:output message="tns:ConfigItemUpdateResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemSearch">
            <wsdl:input message="tns:ConfigItemSearchRequest"></wsdl:input>
            <wsdl:output message="tns:ConfigItemSearchResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GenericConfigItemConnector_Binding" type="tns:GenericConfigItemConnector_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="ConfigItemCreate">
            <soap:operation soapAction="http://www.otrs.org/ConfigItemConnector/ConfigItemCreate" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemDelete">
            <soap:operation soapAction="http://www.otrs.org/ConfigItemConnector/ConfigItemDelete" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemGet">
            <soap:operation soapAction="http://www.otrs.org/ConfigItemConnector/ConfigItemGet" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemUpdate">
            <soap:operation soapAction="http://www.otrs.org/ConfigItemConnector/ConfigItemUpdate" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ConfigItemSearch">
            <soap:operation soapAction="http://www.otrs.org/ConfigItemConnector/ConfigItemSearch" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GenericConfigItemConnector">
        <wsdl:port name="GenericConfigItemConnector_Port" binding="tns:GenericConfigItemConnector_Binding">
            <soap:address location="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericConfigItemConnectorSOAP"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

